.loading-container
{
    position:fixed;
    z-index: 999;
}
.loading-background
{
    width:100vw;
    height:100vh;
    background-color: blanchedalmond;
}
.progress {
    background: #333;
    border-radius: 13px;
    height: 20px;
    width: 300px;
    padding: 3px;
}

.progress2 {
    content: '';
    display: block;
    background: orange;
    width: 9999;
    height: 100%;
    border-radius: 9px;
}