
  .hero-container {
    /*background: url('/src/images/img-home.jpg') center center/cover no-repeat;*/ 
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
  }.SideBar
{
    display: flex;
    overflow-y: hidden;
    width:60%;

   
    margin: 0%;
    position:absolute;
    justify-content: center;
    align-content: center;
    text-align: center;
}
.Projects
{
    width:70%;

}
.landingContainer
{
  
    overflow-y: hidden;
    background-color: black;
}
.RenderWindow
{
    display: flex;
   
    overflow-y: hidden;
    position:relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(128, 128, 128, 0);

    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
}

.render-blank
{
    justify-content: center;
    align-items: center;
    text-align: center;
  
    display:flex;

    background: linear-gradient(0.4turn, #0c0c0c, #292929);
}


.RenderProjects
{
    display: flex;
   
    overflow-y: hidden;
 
    justify-content: center;
    align-items: center;
    text-align: center;
   
    background-color: rgba(128, 128, 128, 0);

    height:300%;
    
}
