.SideBar
{
    overflow-y: hidden;
    margin: 20%;
    margin-left: 10%;
    position:absolute;
    bottom: 0vh;
    text-align: left;
}
.landingContainer
{
}
.RenderWindow
{
    overflow-y: hidden;
    position:relative;
    text-align: center;
    height: 100%;
    background-color: rgba(128, 128, 128, 0);
    width:100%;
}

@media screen and (max-width: 960px) 
{
    .SideBar
    {
        margin-left: 0%;
        position:absolute;
        margin: 10%;
        display:flex;
        align-content: center;
        justify-content: center;
        bottom: 40vh;
        text-align: center;
    } 
}