
.Title-heading
{
    font-size:60px;
    font-family: Roboto;
    font-weight: bold;
    color:rgba(255, 255, 255, 0.876);
    letter-spacing: 20px;
    line-height: 0.9em;
}
.Title-subtext
{
    margin-top: 10px;
    font-size: 12px;
  
    font-family: sans-serif;
    color:white;
}
.fa-mouse {

    font-size: 1rem;
  }
  