.Title-heading
{
    font-size:60px;
    font-family: sans-serif;
    font-weight: bold;
    color:white;

}
.Title-subtext
{
    margin-top: 10px;
    font-size: 12px;
  
    font-family: sans-serif;
    color:white;
}
.fa-mouse {

    font-size: 1rem;
  }
  