.render
{  
    position: relative;
    display: flex;
}
.render-window
{

    position: relative;
    display: flex;
    align-content: center;
}

.render-container
{   
    
    height:20%;
    display: flex;
    position: absolute;
    align-content: center;
    align-self: center;
    margin-left: 44%;
    bottom:-5%;
    z-index: 999;
}

.play-button
{
}