.render
{  

}
.render-window-screen
{
    overflow-y: hidden;
    z-index:-900;
    height:100vh;
    
    pointer-events: none;
    box-sizing:content-box;
    align-content: center;
}
.render-window
{
    
    overflow-y: hidden;
    position:fixed;
    align-content: center;
    justify-content: center;
}

.render-container
{   
    overflow-y: hidden;
    height:20%;
    display: flex;
    position: absolute;
    align-content: center;
     justify-content: center;
    align-self: center;
    margin-left: 44%;
    bottom:-5%;
    z-index: -99;
}

.play-button
{
}